button{
    background-color:blueviolet;
    border:none;
    color:white;
    text-align: center;
    text-decoration:none;
    padding: 0.5em 1em;
    cursor:pointer;
}

#caixa{
    margin-top: 260px;
    flex: 0.6 1 10%;
    justify-content: center;
}
#entrada{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0.5em;
    margin: 1em;
}

body{
    overflow-y: hidden; /* Isso remove a barra de rolagem vertical */
    display: flex;
    height: 100vh;
    margin: 8px;
    background-color: rgb(19, 1, 33);
    text-align: center;

}


#botafogo{
    margin-left: 250px;
    text-align: center;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 10px;
    font-size:large;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin-top: 225px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    margin-top: 10px;
    height: 200px;
    width: 200px;
}
